<div style="padding-left: 50px; padding-right: 50px;">
  <p style="text-align: center;">&nbsp;</p>
  {{!-- Title --}}
  <h3 style="text-align: center;font-size:18px;">ACCOUNTING SUMMARY REPORT</h3>
  <p style="text-align: center;font-size:15px;color: #ff0000;">The following accounting information has been summarized</p>
{{!-- Title --}}
{{!-- Date --}}
  <div
    style="display:flex;flex-direction:row;justify-content:space-between;align-items:center;"
  >
    <p><strong>USD - Customers<br /></strong>Export Date: {{todaysDate}}</p>
    <p style="float:right">From: {{fromDate}} To: {{toDate}}</p>
  </div>
  {{!-- Date --}}
  {{!-- Table --}}
  <table
    style="height: 120px; border-collapse: collapse;"
    cellspacing="0"
    border="1"
  >
    <tbody>
        {{!-- Table Header--}}
      <tr>
        <td style="background-color:#f3f3f3;">
          <p style="font-weight: 400;margin-left:5px;">INVOICE #</p>
        </td>
        <td style="background-color:#f3f3f3;">
          <p style="font-weight: 400;margin-left:5px;">LOAD #</p>
        </td>
        <td style="background-color:#f3f3f3;">
          <p style="font-weight: 400;margin-left:5px;">INVOICE DATE</p>
        </td>
        <td style="background-color:#f3f3f3;">
          <p style="font-weight: 400;margin-left:5px;">CUSTOMER</p>
        </td>
        <td style="background-color:#f3f3f3;">
          <p style="font-weight: 400;margin-left:5px;">TOTAL RATE</p>
        </td>
        <td style="background-color:#f3f3f3;">
          <p style="font-weight: 400;margin-left:5px;">ADVANCE</p>
        </td>
        <td style="background-color:#f3f3f3;">
          <p style="font-weight: 400;margin-left:5px;">BALANCE</p>
        </td>
        <td style="background-color:#f3f3f3;">
          <p style="font-weight: 400;margin-left:5px;">$</p>
        </td>
      </tr>
      {{!-- Table Header--}}
      {{!-- Table Values--}}
       {{#each loadDetails}}
      <tr>
        <td style="width: 97px;">
          <p style="font-weight: 400;margin-left:5px;">{{invoiceNumber}}</p>
        </td>
        <td style="width: 88px;">
          <p style="font-weight: 400;margin-left:5px;">{{loadNumber}}</p>
        </td>
        <td style="width: 161px;">
          <p style="font-weight: 400;margin-left:5px;">{{invoiceDate}}</p>
        </td>
        <td style="width: 124px;">
          <p style="font-weight: 400;margin-left:5px;">{{customerName}}</p>
        </td>
        <td style="width: 133px;">
          <p style="font-weight: 400;margin-left:5px;">$ {{allInRate}}</p>
        </td>
        <td style="width: 107px;">
          <p style="font-weight: 400;margin-left:5px;">$ {{advance}}</p>
        </td>
        <td style="width: 114px;">
          <p style="font-weight: 400;margin-left:5px;">$ {{balance}}</p>
        </td>
        <td style="width: 50px;">
          <p style="font-weight: 400;margin-left:5px;">USD</p>
        </td>
      </tr>
      {{/each}}

      {{!-- Table Values--}}
      {{!-- Table Total--}}
      <tr>
        <td style="width: 741px;" colspan="6">
          <p><strong>TOTAL</strong></p>
        </td>
        <td style="width: 114px;">
          <p style="font-weight: 400;margin-left:5px;">$ {{totalAmount}}</p>
        </td>
        <td style="width: 50px;">
          <p style="font-weight: 400;margin-left:5px;">USD</p>
        </td>
      </tr>
      {{!-- Table Total--}}
    </tbody>
  </table>
</div>