<div
  style="padding-left: 50px; padding-right: 50px; font-size: 10px; font-family: 'Verdana', serif;"
>
    {{!-- Title --}}
  <p style="text-align: center;font-weight: 400; font-size: 18px;">Invoice</p>
  <table style="float: right; border-collapse: collapse;" border="1">
    <tbody>
      <tr>
        <td style="width: 106.703px; background-color: #f3f3f3;">
          <p style="margin-left: 5px;"><strong>INVOICE #</strong></p>
        </td>
        {{!-- Invoice# Value--}}
        <td style="width: 163.297px;">
          <p style="margin-left: 5px;"><strong>{{invoiceDetails.invoiceNumber}}</strong></p>
        </td>
      </tr>
      <tr>
        <td style="width: 106.703px; background-color: #f3f3f3;">
          <p style="margin-left: 5px;font-weight: 400;">Invoice Date:</p>
        </td>
        {{!-- Invoice date Value--}}
        <td style="width: 163.297px;">
          <p style="margin-left: 5px;font-weight: 400;">{{invoiceDetails.invoiceDate}}</p>
        </td>
      </tr>
      <tr>
        <td style="width: 106.703px; background-color: #f3f3f3;">
          <p style="margin-left: 5px;font-weight: 400;">Terms:</p>
        </td>
        {{!-- Terms Value--}}
        <td style="width: 163.297px;">
            <p style="margin-left: 5px;font-weight: 400;">NA</p>
        </td>
      </tr>
      <tr>
        <td style="width: 106.703px; background-color: #f3f3f3;">
          <p style="margin-left: 5px;font-weight: 400;">W/O(Ref):</p>
        </td>
        <td style="width: 163.297px;">
          <p style="margin-left: 5px;font-weight: 400;">{{invoiceDetails.WONumber}}</p>
        </td>
      </tr>
    </tbody>
  </table>
  <h3><strong>PAYABLE TO:</strong></h3>
  <p><strong>{{payableTo.company}}</strong></p>
  <p><span style="font-weight: 400;">{{payableTo.address}}</span></p>
  <p><span style="font-weight: 400;">{{payableTo.primaryNumber}}</span></p>
  <p><span style="font-weight: 400;">Fax:  N/A</span></p>
  <p style="text-align: center;"><br /><br /></p>
  <h3><strong>BILL TO:</strong></h3>
  <p><span style="font-weight: 400;">{{billTo.name}}</span></p>
  <p><span style="font-weight: 400;">{{billTo.email}}</span></p>
  <p><span style="font-weight: 400;">{{billTo.address}}</span></p>
  <p><span style="font-weight: 400;">{{billTo.primaryNumber}}</span></p>
  <p style="text-align: left;"><br /></p>
  <table style="height: 28px; background-color: #f3f3f3;" border="1">
    <tbody>
      <tr>
        <td style="width: 919px; border: none;"><strong>LOAD DETAILS</strong></td>
      </tr>
    </tbody>
  </table>
  <h3>LOAD#: {{invoiceDetails.loadNumber}}</h3>
  {{!-- Table --}}
  <table style="border: none; border-collapse: collapse;">
    <tbody>
      <tr>
        <td style="width: 188.18px; border: none;">
          <p><strong>Shipper 1:</strong></p>
        </td>
        <td style="width: 404.359px; border: none;">
          <p><span style="font-weight: 400;">{{shipper.name}}, {{shipper.address}}</span></p>
        </td>
        {{!-- only space not a value --}}
        <td style="width: 103.531px; border: none;"></td>
        <td style="width: 198.93px; border: none;" colspan="2">
          <p><strong>Date:</strong>
            <span style="font-weight: 400;">{{shipper.date}}</span></p>
        </td>
      </tr>
      <tr>
        <td style="width: 188.18px; border: none;">
          <p><strong>Type:</strong></p>
        </td>
        <td style="width: 513.891px; border: none;" colspan="2">
          <p><span style="font-weight: 400;">{{shipper.type}}</span></p>
        </td>
        <td style="width: 103.531px; border: none;">
          <p><strong>Quantity:</strong></p>
        </td>
        <td style="width: 513.891px; border: none;">
          <p><span style="font-weight: 400;">{{shipper.qty}}</span></p>
        </td>
        <td style="width: 82.7578px; border: none;">
          <p><strong>Weight:</strong></p>
        </td>
        <td style="width: 513.891px; border: none;">
          <p><span style="font-weight: 400;">{{shipper.weight}}</span></p>
        </td>
        {{!-- only space not a value --}}
        <td style="width: 110.172px; border: none;"></td>
      </tr>
      <tr>
        <td style="width: 188.18px; border: none;">
          <p><strong>Description:</strong></p>
        </td>
        <td style="width: 404.359px; border: none;">
          <p><span style="font-weight: 400;">{{shipper.description}}</span></p>
        </td>
        {{!-- only space not a value --}}
        <td style="width: 103.531px; border: none;"></td>
        <td style="width: 198.93px; border: none;" colspan="2"></td>
      </tr>
      <tr>
        <td style="width: 188.18px; border: none;">
          <p><strong>Purchase Order #:</strong></p>
        </td>
        <td style="width: 404.359px; border: none;">
          <p><span style="font-weight: 400;">TRHU2627339</span></p>
        </td>
        {{!-- only space not a value --}}
        <td style="width: 103.531px; border: none;"></td>
        <td style="width: 198.93px; border: none;" colspan="2"></td>
      </tr>
      <tr>
        <td style="width: 188.18px; border: none;">
          <p><strong>Consignee 1:</strong></p>
        </td>
        <td style="width: 513.891px; border: none;" colspan="2">
          <p><span style="font-weight: 400;">{{consignee.name}} , {{consignee.address}}</span></p>
        </td>
        <td style="width: 82.7578px; border: none;">
          <p><strong>Date:</strong></p>
        </td>
        <td style="width: 110.172px; border: none;">
          <p><span style="font-weight: 400;">{{consignee.date}}</span></p>
        </td>
      </tr>
      <tr>
        <td style="width: 188.18px; border: none;">
          <p><strong>Type:</strong></p>
        </td>
        <td style="width: 513.891px; border: none;" colspan="2">
          <p><span style="font-weight: 400;">{{consignee.type}}</span></p>
        </td>
        <td style="width: 103.531px; border: none;">
          <p><strong>Quantity:</strong></p>
        </td>
        <td style="width: 513.891px; border: none;" colspan="2">
          <p><span style="font-weight: 400;">{{consignee.qty}}</span></p>
        </td>
        <td style="width: 82.7578px; border: none;">
          <p><strong>Weight:</strong></p>
        </td>
        <td style="width: 513.891px; border: none;" colspan="2">
          <p><span style="font-weight: 400;">{{consignee.weight}}</span></p>
        </td>
        {{!-- only space not a value --}}
        <td style="width: 110.172px; border: none;"></td>
      </tr>
      <tr>
        <td style="width: 188.18px; border: none;">
          <p><strong>Description:</strong></p>
        </td>
        <td style="width: 513.891px; border: none;" colspan="2">
          <p><span style="font-weight: 400;">{{consignee.description}}</span></p>
        </td>
        {{!-- only space not a value --}}
        <td style="width: 82.7578px; border: none;"></td>
        <td style="width: 110.172px; border: none;"></td>
      </tr>
      <tr>
        <td style="width: 188.18px; border: none;">
          <p><strong>Purchase Order #:</strong></p>
        </td>
        {{!-- Purchase Order value --}}
        <td style="width: 404.359px; border: none;"><p>NA</p></td>
        {{!-- only space not a value --}}
        <td style="width: 103.531px; border: none;"></td>
        <td style="width: 198.93px; border: none;" colspan="2"></td>
      </tr>
    </tbody>
  </table>
  <h3><strong>RATES AND CHARGES</strong></h3>
  <p><span style="font-weight: 400;">{{invoiceDetails.type}}</span>
    <span style="font-weight: 400; float: right;">$ {{invoiceDetails.allInRate}}</span></p>
  <hr />
  <p><strong>Total Rate:</strong>
    <strong style="float: right;">$ {{invoiceDetails.allInRate}} USD</strong></p>
</div>