<div style="max-width: 600px; margin: 0 auto; background-color: #ffffff;">
    <p style="margin: 0 0 10px; font-size: 16px; color: #333;">Here are the details of the load:</p>

    {{#each loads}}
    <div style="margin-bottom: 20px;">
        <!-- Load Title -->
        {{#if origin}}
        <div style="padding: 5px 10px; font-size: 18px; font-weight: bold; color: #fff; background-color: #2a4459;">
            Load Number: {{" "}} {{loadNumber}}
        </div>
        {{/if}}

        <div style="display: flex;">
            <div style="width: 50%;">
                <div style="font-weight: bold; padding: 8px 0; font-size: 18px; text-decoration: underline;">
                    ORIGIN DETAILS
                </div>

                {{#if origin}}
                <div style="display: flex; justify-content: space-between; font-weight: bold; color: #555;">
                    <span>Origin: </span>
                    <span style="color: #333; margin-left: 4px;">{{origin}}</span>
                </div>
                {{/if}}

                <!-- Origin Pickup Date and Time -->
                {{#if originEarlyPickupDate}}
                <div style="display: flex; justify-content: space-between; font-weight: bold; color: #555;">
                    <span>Origin Early Pickup: </span>
                    <span style="color: #333; margin-left: 4px;">{{originEarlyPickupDate}} {{originEarlyPickupTime}}</span>
                </div>
                {{/if}} {{#if originLatePickupDate}}
                <div style="display: flex; justify-content: space-between; font-weight: bold; color: #555;">
                    <span>Origin Late Pickup: </span>
                    <span style="color: #333; margin-left: 4px;">{{originLatePickupDate}} {{originLatePickupTime}}</span>
                </div>
                {{/if}}

                <!-- Origin Stops -->
                {{#if originStops.length}}
                <div style="font-weight: bold; padding: 8px 0; text-decoration: underline;">
                    ORIGIN STOPS
                </div>
                {{#each originStops}}
                <div style="font-weight: bold; color: #555;" style="padding-bottom: 8px;">Stop {{increment @index}}</div>
                <div style="padding-bottom: 10px;">
                    {{#if address}}
                    <span style="font-weight: bold; color: #555;">Address: </span> {{address}}<br />
                    {{/if}} {{#if earlyPickupDate}}
                    <span style="font-weight: bold; color: #555;">Early Pickup: </span> {{earlyPickupDate}} {{earlyPickupTime}}<br />
                    {{/if}} {{#if latePickupDate}}
                    <span style="font-weight: bold; color: #555;">Late Pickup: </span> {{latePickupDate}} {{latePickupTime}}<br />
                    {{/if}}
                </div>
                <hr style="border: none; border-top: 1px solid #ddd;" />
                {{/each}} {{/if}}
            </div>
            <div style="width: 50%;">
                <div style="font-weight: bold; padding: 8px 0; font-size: 18px; text-decoration: underline;">
                    DESTINATION DETAILS
                </div>

                {{#if destination}}
                <div style="display: flex; justify-content: space-between; font-weight: bold; color: #555;">
                    <span>Destination: </span>
                    <span style="color: #333; margin-left: 4px;">{{destination}}</span>
                </div>
                {{/if}}

                <!-- Destination Dropoff Date and Time -->
                {{#if destinationEarlyDropoffDate}}
                <div style="display: flex; justify-content: space-between; font-weight: bold; color: #555;">
                    <span>Destination Early Dropoff: </span>
                    <span style="color: #333; margin-left: 4px;">{{destinationEarlyDropoffDate}} {{destinationEarlyDropoffTime}}</span>
                </div>
                {{/if}} {{#if destinationLateDropoffDate}}
                <div style="display: flex; justify-content: space-between; font-weight: bold; color: #555;">
                    <span>Destination Late Dropoff: </span>
                    <span style="color: #333; margin-left: 4px;">{{destinationLateDropoffDate}} {{destinationLateDropoffTime}}</span>
                </div>
                {{/if}}

                <!-- Destination Stops -->
                {{#if destinationStops.length}}
                <div style="font-weight: bold; padding: 8px 0; text-decoration: underline;">
                    DESTINATION STOPS
                </div>
                {{#each destinationStops}}
                <div style="font-weight: bold; color: #555;" style="padding-bottom: 8px;">Stop {{increment @index}}</div>
                <div style="padding-bottom: 10px;">
                    {{#if address}}
                    <span style="font-weight: bold; color: #555;">Address: </span> {{address}}<br />
                    {{/if}} {{#if earlyDropoffDate}}
                    <span style="font-weight: bold; color: #555;">Early Dropoff: </span> {{earlyDropoffDate}} {{earlyDropoffTime}}<br />
                    {{/if}} {{#if lateDropoffDate}}
                    <span style="font-weight: bold; color: #555;">Late Dropoff: </span> {{lateDropoffDate}} {{lateDropoffTime}}<br />
                    {{/if}}
                </div>
                <hr style="border: none; border-top: 1px solid #ddd;" />
                {{/each}} {{/if}}
            </div>
        </div>
        <div style="font-weight: bold; padding: 8px 0; font-size: 18px; text-decoration: underline;">
            OTHER DETAILS
        </div>
        <div style="display: flex;">
            <div style="width: 50%;">
                <!-- Equipment, Mode, and Commodity -->
                {{#if equipment}}
                <div style="display: flex; justify-content: space-between;">
                    <span style="font-weight: bold; color: #555;">Equipment: </span>
                    <span style="color: #333; margin-left: 4px;">{{equipment}}</span>
                </div>
                {{/if}} {{#if mode}}
                <div style="display: flex; justify-content: space-between;">
                    <span style="font-weight: bold; color: #555;">Mode: </span>
                    <span style="color: #333; margin-left: 4px;">{{mode}}</span>
                </div>
                {{/if}} {{#if commodity}}
                <div style="display: flex; justify-content: space-between;">
                    <span style="font-weight: bold; color: #555;">Commodity: </span>
                    <span style="color: #333; margin-left: 4px;">{{commodity}}</span>
                </div>
                {{/if}} {{#if height}}
                <div style="display: flex; justify-content: space-between;">
                    <span style="font-weight: bold; color: #555;">Height: </span>
                    <span style="color: #333; margin-left: 4px;">{{height}}</span>
                </div>
                {{/if}} {{#if pieces}}
                <div style="display: flex; justify-content: space-between;">
                    <span style="font-weight: bold; color: #555;">Pieces: </span>
                    <span style="color: #333; margin-left: 4px;">{{pieces}}</span>
                </div>
                {{/if}}
            </div>
            <div style="width: 50%;">
                <!-- Load Dimensions and Weight -->
                {{#if weight}}
                <div style="display: flex; justify-content: space-between;">
                    <span style="font-weight: bold; color: #555;">Weight: </span>
                    <span style="color: #333; margin-left: 4px;">{{weight}}</span>
                </div>
                {{/if}} {{#if length}}
                <div style="display: flex; justify-content: space-between;">
                    <span style="font-weight: bold; color: #555;">Length: </span>
                    <span style="color: #333; margin-left: 4px;">{{length}}</span>
                </div>
                {{/if}} {{#if width}}
                <div style="display: flex; justify-content: space-between;">
                    <span style="font-weight: bold; color: #555;">Width: </span>
                    <span style="color: #333; margin-left: 4px;">{{width}}</span>
                </div>
                {{/if}} {{#if pallets}}
                <div style="display: flex; justify-content: space-between;">
                    <span style="font-weight: bold; color: #555;">Pallets: </span>
                    <span style="color: #333; margin-left: 4px;">{{pallets}}</span>
                </div>
                {{/if}}
            </div>
        </div>

        <!-- Special Instructions -->
        {{#if specialInstructions}}
        <div style="font-weight: bold; color: #555;">Special Instructions:</div>
        <div style="color: #333;">{{specialInstructions}}</div>
        {{/if}}
    </div>
    {{/each}}
</div>
