<div
  style="padding-left: 50px; padding-right: 50px; font-size: 10px; font-family: 'Verdana', serif;"
>
  <p style="text-align: center;">&nbsp;</p>
  {{! Title }}
  <p style="text-align: center;"><span
      style="font-weight: 400; font-size: 18px;"
    >Rate and Load Confirmation</span><br /><br /></p>
  {{! Table-1 }}{{! Dispatcher value }}{{! Load value }}{{! Phone# value }}{{! Ship Date value }}{{! Fax# value }}{{! Today's Date value }}{{! Email value }}{{! W/O value }}
  <table style="border-collapse: collapse; float: right;" border="1">
    <tbody>
      <tr>
        <td style="width: 76px; background-color: #ccc; text-align: left;">
          <p style="margin-left: 5px; font-weight: 400;">Dispatcher:</p>
        </td>
        <td style="width: 95px; text-align: left;">
          <p
            style="margin-left: 5px; font-weight: 400;"
          >{{dispatcherDetails.name}}</p>
        </td>
        <td
          style="width: 90.7109px; background-color: #ccc; text-align: left;"
        >
          <p><strong style="margin-left: 5px;">LOAD #</strong></p>
        </td>
        <td style="width: 78.2891px; text-align: left;">
          <p
            style="margin-left: 5px; font-weight: 400;"
          >{{dispatcherDetails.loadNumber}}</p>
        </td>
      </tr>
      <tr>
        <td style="width: 76px; background-color: #ccc; text-align: left;">
          <p style="margin-left: 5px; font-weight: 400;">Phone #:</p>
        </td>
        <td style="width: 95px; text-align: left;">
          <p
            style="margin-left: 5px; font-weight: 400;"
          >{{dispatcherDetails.primaryNumber}}</p>
        </td>
        <td
          style="width: 90.7109px; background-color: #ccc; text-align: left;"
        >
          <p style="margin-left: 5px; font-weight: 400;">Ship Date:</p>
        </td>
        <td style="width: 78.2891px; text-align: left;">
          <p
            style="margin-left: 5px; font-weight: 400;"
          >{{dispatcherDetails.shipDate}}</p>
        </td>
      </tr>
      <tr>
        <td style="width: 76px; background-color: #ccc; text-align: left;">
          <p style="margin-left: 5px; font-weight: 400;">Fax #:</p>
        </td>
        <td style="width: 95px; text-align: left;">&nbsp;</td>
        <td
          style="width: 90.7109px; background-color: #ccc; text-align: left;"
        >
          <p style="margin-left: 5px; font-weight: 400;">Today's Date:</p>
        </td>
        <td style="width: 78.2891px; text-align: left;">
          <p
            style="margin-left: 5px; font-weight: 400;"
          >{{dispatcherDetails.todaysDate}}</p>
        </td>
      </tr>
      <tr>
        <td style="width: 76px; background-color: #ccc; text-align: left;">
          <p style="margin-left: 5px; font-weight: 400;">Email:</p>
        </td>
        <td style="width: 264px; text-align: left;" colspan="3">
          <p
            style="margin-left: 5px; font-weight: 400;"
          >{{dispatcherDetails.email}}</p>
        </td>
      </tr>
      <tr>
        <td style="width: 76px; background-color: #ccc; text-align: left;">
          <p style="margin-left: 5px; font-weight: 400;">W/O:</p>
        </td>
        <td style="width: 264px; text-align: left;" colspan="3">
          <p
            style="margin-left: 5px; font-weight: 400;"
          >{{dispatcherDetails.WO}}</p>
        </td>
      </tr>
    </tbody>
  </table>
  <p><strong>{{companyDetails.company}}</strong></p>
  <p style="font-weight: 400;">{{companyDetails.email}}</p>
  <p style="font-weight: 400;">{{companyDetails.address}}</p>
  <p style="font-weight: 400;">{{companyDetails.addressLine2}}</p>
  <p style="font-weight: 400;">Phone: {{companyDetails.primaryNumber}}</p>
</div>
<p style="text-align: center;">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</p>
{{! Table-2 }}
<div
  style="padding-left: 50px; padding-right: 50px; font-size: 10px; font-family: 'Verdana', serif;"
>
  <table style="border-collapse: collapse;" border="1">
    <tbody>
      <tr style="height: 35.5px;">
        <td
          style="width: 229.391px; background-color: #ccc; height: 35.5px;"
        >
          <p style="margin-left: 5px;"><strong>Carrier</strong></p>
        </td>
        <td
          style="width: 149.039px; background-color: #ccc; height: 35.5px;"
        >
          <p style="margin-left: 5px;"><strong>Phone #</strong></p>
        </td>
        <td
          style="width: 67.4141px; background-color: #ccc; height: 35.5px;"
        >
          <p style="margin-left: 5px;"><strong>Fax #</strong></p>
        </td>
        <td style="width: 124.18px; background-color: #ccc; height: 35.5px;">
          <p style="margin-left: 5px;"><strong>Equipment</strong></p>
        </td>
        <td
          style="width: 178.688px; background-color: #ccc; height: 35.5px;"
        >
          <p style="margin-left: 5px;"><strong>Agreed Amount</strong></p>
        </td>
        <td
          style="width: 136.289px; background-color: #ccc; height: 35.5px;"
        >
          <p style="margin-left: 5px;"><strong>Load Status</strong></p>
        </td>
      </tr>
      <tr style="height: 35px;">
        <td style="width: 229.391px; height: 35px;">
          <p
            style="margin-left: 5px; font-weight: 400;"
          >{{carrierDetails.name}}</p>
        </td>
        <td style="width: 149.039px; height: 35px;">
          <p style="margin-left: 5px;">{{carrierDetails.primaryNumber}}</p>
        </td>
        <td style="width: 67.4141px; height: 35px;">
          <p style="margin-left: 5px;">N/A</p>
        </td>
        <td style="width: 124.18px; height: 35px;">
          <p style="margin-left: 5px;">{{carrierDetails.equipment}}</p>
        </td>
        <td style="width: 178.688px; height: 35px;">
          <p style="margin-left: 5px;">$ {{carrierDetails.agreedAmount}} USD</p>
        </td>
        <td style="width: 136.289px; height: 35px;">
          <p style="margin-left: 5px;">{{carrierDetails.loadStatus}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br/>
<br/>
<div
  style="padding-left: 50px; padding-right: 50px; font-size: 10px; font-family: 'Verdana', serif;"
>{{! Table-3 }}
  <table
    style="border-collapse: collapse; background-color: #ccc;"
    border="1"
  >
    <tbody>
      <tr>
        <td style="width: 914px;">
          <div
            style="display: flex; flex-direction: row; justify-content: space-between;"
          >
            <div style="flex:3">
              <p style="margin-left: 5px;"><strong>Shipper</strong></p>
              <p><span
                  style="font-weight: 400; margin-left: 5px;"
                >{{shipper.name}}</span></p>
              <p><span
                  style="font-weight: 400; margin-left: 5px;"
                >{{shipper.email}}</span></p>
              <p><span
                  style="font-weight: 400; margin-left: 5px;"
                >{{shipper.address}}</span></p>
              <p><span style="font-weight: 400; margin-left: 5px;">Phone:
                  {{shipper.primaryNumber}}
                </span></p>
            </div>
            <div style="flex:3">
              <p><strong>Date:</strong> {{shipper.date}}</p>
              <p><strong>Time:</strong>{{shipper.time}}</p>
              <p><strong>Type:</strong>{{shipper.type}}</p>
              <p><strong>Quantity:</strong>{{shipper.qty}}</p>
              <p><strong>Weight:</strong> {{shipper.weight}}</p>
            </div>
            <div style="flex:4">
              <p><strong>Major Intersection:</strong>Not available</p>
              <p><strong>Shipping Hours:</strong> {{shipper.shippingHours}}</p>
              <p><strong>Appointment:</strong> {{shipper.appointment}}</p>
              <p><strong>Description:</strong>{{shipper.description}}</p>
              <p><strong>Notes:</strong>{{shipper.notes}}</p>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br/>
<br/>
<div
  style="padding-left: 50px; padding-right: 50px; font-size: 10px; font-family: 'Verdana', serif;"
>{{! Table-4 }}
  <table
    style="border-collapse: collapse; background-color: #ccc;"
    border="1"
  >
    <tbody>
      <tr>
        <td style="width: 914px;">
          <div
            style="display: flex; flex-direction: row; justify-content: space-between;"
          >
            <div style="flex:3">
              <p style="margin-left: 5px;"><strong>Consignee</strong></p>
              <p><span
                  style="font-weight: 400; margin-left: 5px;"
                >{{consignee.name}}</span></p>
              <p><span
                  style="font-weight: 400; margin-left: 5px;"
                >{{consignee.email}}</span></p>
              <p><span
                  style="font-weight: 400; margin-left: 5px;"
                >{{consignee.address}}</span></p>
              <p><span style="font-weight: 400; margin-left: 5px;">Phone:
                  {{consignee.primaryNumber}}
                </span></p>
            </div>
            <div style="flex:3">
              <p><strong>Date:</strong> {{consignee.date}}</p>
              <p><strong>Time:</strong>{{consignee.time}}</p>
              <p><strong>Type:</strong>{{consignee.type}}</p>
              <p><strong>Quantity:</strong>{{consignee.qty}}</p>
              <p><strong>Weight:</strong> {{consignee.weight}}</p>
            </div>
            <div style="flex:4">
              <p><strong>Major Intersection:</strong>Not available</p>
              <p><strong>Shipping Hours:</strong>
                {{consignee.shippingHours}}</p>
              <p><strong>Appointment:</strong> {{consignee.appointment}}</p>
              <p><strong>Description:</strong>{{consignee.description}}</p>
              <p><strong>Notes:</strong>{{consignee.notes}}</p>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br/>
<div
  style="padding-left: 50px; padding-right: 50px; font-size: 10px; font-family: 'Verdana', serif;"
>
  <p><strong>Dispatch Notes:</strong> </p>
  <p><strong>Double brokering of this load is prohibited and will result in NO
      pay.</strong></p>
  <p><strong>***To expedite payment,please email the signed BOL(s) and/or POD(s)
      to
    </strong><strong>{{brokerDetails.email}}</strong><strong>
      within 48 hours of delivery. If not submitted within timeframe, a $50 late
      fee may be incurred.***</strong></p>
  <p><strong>** We offer payments via ACH.**</strong></p>
  <p><strong>** Quickpay 3% available after delivery within 24-72 hrs. Plase
      email
    </strong><strong>{{brokerDetails.email}}</strong><strong>
      and request the quick pay form for setup.**</strong></p>
  <p><strong>EMAIL INVOICE AT: </strong><strong
    >{{dispatcherDetails.email}}</strong></p>
  <p><strong><em>Billing Email</em></strong><strong>: </strong><a
      href="mailto:accounts@spls-us.com"
    ><strong>{{brokerDetails.email}}</strong></a></p>
  <p><strong><em>Billing Address</em></strong><span style="font-weight: 400;">:
    </span><strong>{{brokerDetails.billingAddress}}</strong></p>
  <p><span style="font-weight: 400;">Dispatch Notes:</span></p>
  <p><span style="font-weight: 400;">By signing this agreement, CARRIER agrees
      to the following terms and is subject to rate reductions and nonpayment if
      the following terms are not met:</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">All PODs must
        be submitted to at
      </span><span style="font-weight: 400;">{{brokerDetails.email}}</span><span
        style="font-weight: 400;"
      > within 48 hours of delivery.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">All
        accessorial charges must be authorized and submitted to
      </span><span style="font-weight: 400;">{{brokerDetails.email}}</span><span
        style="font-weight: 400;"
      > within 48 hours of delivery for reimbursement.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Carrier must
        call and check in at pickup and delivery.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Driver must
        inspect load before departing shipper facility.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">In and out
        times must be noted on BOL for detention.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Please email
        NOAs to NOA.
      </span><span style="font-weight: 400;">{{brokerDetails.email}}</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Missed
        deliveries and appointments may result in rate deductions.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">All payments
        are issued via Check or ACH-direct deposit.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">We do not
        issue Comcheks, T-Checks, or EFS checks for payment.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Paperwork
        Submission and Payment Terms</span></li>
  </ol>
  <p><span style="font-weight: 400;">Please submit rate con, pod, and invoice to
    </span><span style="font-weight: 400;">{{brokerDetails.email}}</span><span
      style="font-weight: 400;"
    >
      and include the Load # and W/O in the subject line of your e-mail.
      Standard Pay: Net 30 from receipt of complete and legible paperwork.</span></p>
  <p><span style="font-weight: 400;">Quickpay: Submit Quickpay form to
    </span><span style="font-weight: 400;">{{brokerDetails.email}}</span></p>
  <p><span style="font-weight: 400;">By mail:
      {{brokerDetails.address}}</span></p>
  <p><span style="font-weight: 400;">This Rate Confirmation is an agreement
      between SPLS, LLC and the carrier indicated in the above Carrier
      Information field, and is NOT a dispatch. If load is changed or canceled
      by SPLS, LLC, NO "truck order not used" will be paid unless the driver has
      been dispatched by the broker at SPLS, LLC. Carriers are required to call
      SPLS,LLC for dispatch which includes pick up numbers, name, address and
      directions to the shipper.</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">GENERAL
        CARRIER REQUIREMENTS:</span></li>
    <ol>
      <li style="font-weight: 400;"><span style="font-weight: 400;">CARRIER is
          responsible for any damage to product or damage to the products
          container and shortages of freight. CARRIER is responsible for any
          charges, or claims BROKER is charged pertaining to this shipment.</span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">Driver is
          responsible for load and count. Must report product quantities stated
          on BOL's PRIOR to leaving the shipper. If Driver is not allowed on
          dock to verify product count, SPLS, must be notified PRIOR to driver
          signing for product and BOL's must be marked by Shipper "Shipper Load
          and Count."</span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">Failure to
          report any overage, shortage, or damage (damage with pictures) within
          2 hours will result in a $150 fine to CARRIER OR NO PAY for the load.</span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">Any costs
          incurred by BROKER due to CARRIER being late for pick-up or delivery
          appointments may be charged to the CARRIER.</span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">Carrier can
          be charged up to $250 per day for late arrival to any appointment plus
          any additional loss due late arrival.</span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">Drivers are
          required to check call every day, before 10am EST. Failure to do so
          can result in a $125 fine.</span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">Failure to
          call IMMEDIATELY on any problems can result in a $100.00 fine to
          CARRIER as well as any charges that result from failure to notify
          BROKER. SPLS is available 24/7/365.</span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">If any
          accessorial charge is agreed upon, carrier must supply VALID receipt.
          Failure to do so within 48 hours of delivery can result in no
          reimbursement. Handwritten receipt is NOT VALID.</span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">Half
          Loaded/Incomplete loaded trailer can result in a reduced pro-rated
          payment.</span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">Driver must
          ensure load is properly secured. Any concerns or requests for
          additional securements must be made PRIOR to leaving shipper. Carrier
          will be liable for any damage.</span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">Loads sealed
          by the shipper must remain sealed until an authorized person at the
          receiver breaks the seal. In cases where the seal has been broken by
          an unauthorized person, the CARRIER becomes FULLY liable for the
          invoice value to customer or cost whichever is greater, of the product
          and any other expenses.</span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">$35 will be
          deducted from your invoice for each comcheck issued for a fuel or cash
          advance.</span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">SPLS,LLC has
          the right to offset any claim/s or fee with pending invoices including
          but not limited to, property damage caused by Carrier at shipper or
          receiver.</span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">Carrier
          agrees that the driver has enough available hours of service to pick
          up and drop the tendered load within time frames arranged by
          Broker/Customer, without violating the FMCSA hours (49 CFR 395).</span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">Carrier is
          in compliance with Federal, State and Local safety regulations.</span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">A fee of
          $7.50 per pallet will be charged on loads that the carrier is
          responsible to supply pallets for exchange and they do not.</span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">All
          accessorial charges must be pre-approved by the broker. Unauthorized
          charges may not be paid.</span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">Not all
          detention request will be honored, the Broker must be notified 1 hour
          before Carrier is requesting detention.</span><span
          style="font-weight: 400;"
        ><br /></span></li>
    </ol>
  </ol>
  <p><br /> </p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">REFRIGERATED
        LOADS:</span></li>
    <ol>
      <li style="font-weight: 400;"><span style="font-weight: 400;">All
          refrigerated load must be on CONTINUOUS cycle throughout the trip,
          unless instructed by the Broker. If reefer unit is not on CONTINUOUS,
          carrier assumes all risk of product.</span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">Before
          loading, ensure reefer unit is properly working and pre-cool trailer
          to temperature indicated by Rate Con. or Broker.</span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">Produce
          loads must have a properly working air chute for proper circulation.
          The driver is responsible to make sure the chute is not damaged,
          obstructed or blocked in any way. Driver is responsible to make sure
          space is provided for circulation.</span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">Pulp product
          to ensure product has been pre-cooled. Do not accept any product
          pulping 3 or more degrees above or below the required temperature
          stated on rate confirmation. If the temperature on rate confirmation
          is different than what is on Bill of Lading, notify BROKER immediately
          before signing the Bill of Lading. By signing the Bill of Lading,
          CARRIER is responsible for product. Make sure the pulp temperature of
          the product loaded is marked on the original Bill of Lading and that
          the driver agrees&nbsp;</span>with that temperature.</li>
    </ol>
  </ol>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">When driver
        signs the Bill of Lading, he/she is confirming that he/she received the
        correct product and correct count at the proper temperature. Be sure
        they agree with the information on the Bill of Lading. Your company is
        responsible.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">CARRIER
        certifies that any TRU equipment hired or furnished will be in
        compliance with the in-user requirements of California's TRU
        regulations. Please sign and fax or email ALL pages of the rate
        confirmation.</span></li>
  </ol>
  <p style="text-align: center;"><br /><br /></p>
  <p><strong>Carrier Pay: </strong><span
      style="font-weight: 400;"
    >{{loadDetails.type}}: {{loadDetails.carrierFee}},&nbsp;&nbsp;</span><strong
    >TOTAL:{{loadDetails.carrierFee}} USD</strong></p>
  <p style="text-align: center;"><br /><br /></p>
  <p><strong>Accepted By: _________________&nbsp;</strong><strong>Date:
      ___________________&nbsp;</strong><strong
    >Signature:____________________</strong></p>
  <p style="text-align: center;"><br /><br /></p>
  <p><strong>Driver Name:</strong>&nbsp;_________________<strong>Cell #:</strong>&nbsp;________________<strong
    >Truck #:</strong>&nbsp;______________<strong>Trailer #: _______________</strong></p>
</div>